absl-py==2.3.1
alembic==1.16.4
annotated-types==0.7.0
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.3
cycler==0.12.1
DataProperty==1.1.0
energy-net @ git+https://github.com/MatanBiton/EnergyNetV0.git@34acc9015f0cfd70a5b500c0fb3fef147f2cf581
Farama-Notifications==0.0.4
filelock==3.13.1
fonttools==4.59.1
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.2.4
grpcio==1.74.0
gymnasium==1.2.0
huggingface-hub==0.34.4
huggingface-sb3==3.0
idna==3.10
Jinja2==3.1.4
kiwisolver==1.4.9
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.5
mbstrdecoder==1.1.4
mdurl==0.1.2
mo_iso_wrapper @ git+https://github.com/MatanBiton/EnergyNetMultiObjectiveISOWrapper.git@ec30b08a55f6cb21dd14f683cc06ef929d11db52
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
optuna==4.5.0
packaging==25.0
pandas==2.3.2
pathvalidate==3.3.1
pettingzoo==1.25.0
pillow==11.0.0
platformdirs==4.3.8
protobuf==6.31.1
pydantic==2.11.7
pydantic_core==2.33.2
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.2.3
pytablewriter==1.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
rich==14.1.0
rl_zoo3==2.7.0
sb3_contrib==2.7.0
scipy==1.16.1
sentry-sdk==2.35.0
setuptools==78.1.1
Shimmy==2.0.0
six==1.17.0
smmap==5.0.2
SQLAlchemy==2.0.43
stable_baselines3==2.7.0
sympy==1.13.3
tabledata==1.3.4
tcolorpy==0.1.7
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==2.8.0+cu126
torchvision==0.23.0+cu126
tqdm==4.67.1
typepy==1.3.4
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
wandb==0.21.1
wasabi==1.1.3
Werkzeug==3.1.3
wheel==0.45.1
